* {
	margin: 0;
}

img {
	max-width: 95%;
	margin-top: 5vw;
	margin-left: 2.5%;
	box-shadow: 7px 7px #14B6E0;
	display: block;
	z-index: -1;
}

/*MOBILMENU*/

header {
	height: 0;
}

nav {
	padding-top: 2rem;
	padding-left: 1rem;
	font-weight: 400;
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	height: 12vh;
	z-index: 99;
}

nav img {
	display: none;
}

nav a:link {
	color: #14B6E0;
	text-align: left;
	justify-content: space-around;
	padding: 0.4rem;
	z-index: 99;
}

nav a:visited {
	color: #14B6E0;
}

nav a:hover {
	color: #E600E5;
}

nav a:active {
	color: #14B6E0;
}

section {
	margin-bottom: 10vw;
	max-width: 1200px;
	margin: 0 auto;
}

h1,
h2,
h3,
nav a {
	font-family: 'Special Elite', cursive;
}

p,
footer {
	font-family: 'Cutive Mono', monospace;
	font-size: medium;
}

.knap {
	position: relative;
	background-color: #E600E5;
	width: 32vw;
	height: 15vw;
	text-align: center;
	top: 7vw;
	left: 35vw;
	padding-top: 12px;
	box-shadow: #284DE0 6px 7px;
}

.knap a {
	color: #284DE0;
	font-family: 'Special Elite', cursive;
	font-size: 1.5rem;
}

.knap a:hover {
	color: #14B6E0;
	cursor: pointer;
}

footer {
	height: 10vw;
	/*height: auto;*/
	background-color: #14B6E0;
	margin: 0;
	margin-top: 10vw;
	padding-top: 3.5vw;
	max-width: 100%;
}

/*MEDIA QUERIES!!!*/

@media only screen and (min-width: 550px) {

	header {
		height: 8vw;
		background-color: #0D4E94;
		margin: 0;
		width: 100%;
	}

	nav img {
		width: auto;
		margin-top: 0;
		display: inline-flex;
		box-shadow: none;
	}

	nav {
		flex-direction: row;
		width: 100%;
		height: 12vh;
		font-size: 1.6rem;
		padding-top: 6px;
		/*position: fixed;*/
	}

	nav a:link {
		color: #14B6E0;
		text-align: center;
		padding: 0.4rem;
	}

	.knap {
		width: 26vw;
		height: 11vw;
		top: -31vw;
		left: 8vw;
		padding-top: 8px;
	}

	.knap a {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 750px) {

	header {
		margin-bottom: 3vw;
		height: 7vw;
	}

	nav {
		height: 10vh;
		font-size: 1.8rem;
		padding-top: 10px;
	}

	img {
		max-width: 85%;
		margin: 0 auto;
		box-shadow: 10px 10px #14B6E0;
	}

	.knap {
		width: 23vw;
		height: 9vw;
		top: -31vw;
		left: 12vw;
		padding-top: 8px;
	}

	.knap a {
		font-size: 1.7rem;
	}

	footer {
		height: 8vw;
	}
}

@media only screen and (min-width: 900px) {

	img {
		max-width: 75%;
		height: auto;
		box-shadow: 15px 15px #14B6E0;
	}

	header {
		margin-bottom: 4vw;
		height: 7vw;
	}

	nav {
		font-size: 1.9rem;
		padding-top: 13px;
	}

	.knap {
		width: 20vw;
		height: 8vw;
		top: -33vw;
		left: 17vw;
		padding-top: 8px;
	}

	.knap a {
		font-size: 1.8rem;
	}
}

@media only screen and (min-width: 1200px) {

	header {
		height: 6vw;
	}

	nav {
		font-size: 2rem;
		padding-top: 17px;
	}

	img {
		box-shadow: 20px 20px #14B6E0;
	}

	.knap {
		width: 15vw;
		height: 6vw;
		top: -62vw;
		left: 18vw;
		padding-top: 18px;
	}

	.knap a {
		font-size: 1.8rem;
	}

	footer {
		height: 7vw;
	}
}
