* {
	margin: 0;
}

img {
	max-width: 95%;
	margin-top: 5vw;
	margin-left: 2.5%;
}

header {
	height: 7vw;
	background-color: #14B6E0;
	margin: 0;
	margin-bottom: 5vw;
	max-width: 100%;
}

nav {
	text-align: center;
	font-size: 2rem;
}

nav a {
	color: #E600E5;
}

h1,
h2,
h3,
nav {
	font-family: 'Special Elite', cursive;
}

p {
	font-family: 'Cutive Mono', monospace;
	font-size: 1rem;
}

.knap {
	position: relative;
	background-color: #E600E5;
	width: 32vw;
	height: 15vw;
	top: -31vw;
	left: 8vw;
	padding-top: 12px;
	box-shadow: #284DE0 6px 7px;
}

.knap a {
	color: #284DE0;
	font-family: 'Special Elite', cursive;
	font-size: 1.5rem;
	/*text-align: justify; VIRKER KUN PÅ ØVERSTE LINJE!
	padding-left: 20px;*/
}

.knap a:hover {
	color: #14B6E0;
	cursor: pointer;
}

footer {
	height: 10vw;
	background-color: #14B6E0;
	margin: 0;
	margin-top: 10vw;
	padding-top: 3.5vw;
	max-width: 100%;
}
