* {
	margin: 0;
}

/*MOBILMENU*/

header {
	height: 0;
}

nav {
	padding-top: 1rem;
	padding-left: 1rem;
	font-weight: 400;
	/*font-size: 1.6rem;*/
	display: flex;
	flex-direction: column;
	height: 12vh;
	z-index: 99;
}

nav a:link {
	color: #14B6E0;
	text-align: left;
	justify-content: space-around;
	padding: 0.4rem;
	z-index: 99;
}

nav a:visited {
	color: #14B6E0;
}

nav a:hover {
	color: #E600E5;
}

nav a:active {
	color: #14B6E0;
}

section {
	margin-bottom: 10vw;
	max-width: 1200px;
	margin: 0 auto;
}

/*INDHOLD*/

img {
	max-width: 98%;
	margin-top: 2vw;
	margin-left: 1%;
}

.tak_gif {
	max-width: 50%;
	margin-left: 25%;
}

video {
	max-width: 98%;
	/*margin: 0 auto; VIRKER IKKE? */
	margin-left: 1%;
}

section {
	margin-bottom: 10vw;
	max-width: 1200px;
	margin: 0 auto;
}

/*FONTS*/

h1,
h2,
h3,
nav a {
	font-family: 'Special Elite', cursive;
}

h1 {
	font-size: xx-large;
	text-align: center;
	padding-top: 25vw;
}

h2,
nav a {
	font-size: x-large;
	text-align: justify;
}

h3 {
	font-size: large;
}

p,
section a,
ol {
	font-family: 'Cutive Mono', monospace;
	font-size: medium;
}

figcaption {
	font-family: 'Cutive Mono', monospace;
	font-size: small;
	font-style: italic;
}

p,
h3,
section a {
	text-align: justify;
	margin: 2vw;
}

/*LINKS*/

section a:link {
	color: #0D4E94;
	font-style: oblique;
}

section a:visited {
	color: #0D4E94;
}

section a:hover {
	color: #B327B2;
}

/*FOOTER*/

footer {
	height: 12vw;
	background-color: #14B6E0;
	margin: 0;
	margin-top: 10vw;
	padding-top: 1vw;
	max-width: 100%;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 550px) {

	header {
		height: 8vw;
		background-color: #0D4E94;
		margin: 0;
		width: 100%;
	}

	/*nav img {
        width: auto;
       	 display: inline;
    }*/

	nav {
		flex-direction: row;
		height: 12vh;
		font-size: 1.6rem;
		padding-top: 6px;
		/*position: fixed;*/
	}

	nav a:link {
		color: #14B6E0;
		text-align: center;
		padding: 0.4rem;
	}

	h1 {
		padding-top: 3vw;
		;
	}

	video {
		max-width: 90%;
		margin-left: 5%;
	}
}

@media only screen and (min-width: 750px) {

	header {
		margin-bottom: 3vw;
		height: 7vw;
	}

	nav {
		height: 10vh;
		font-size: 1.8rem;
		padding-top: 10px;
	}

	footer {
		height: 8vw;
	}
}

@media only screen and (min-width: 900px) {

	header {
		margin-bottom: 4vw;
		height: 7vw;
	}

	nav {
		font-size: 1.9rem;
		padding-top: 13px;
	}
}

@media only screen and (min-width: 1200px) {

	header {
		height: 6vw;
	}

	nav {
		font-size: 2rem;
		padding-top: 17px;
	}

	footer {
		height: 7vw;
	}
}
